.add-form {
    max-width: 600px;
    margin: 0 auto;
}

.navbar-default .navbar-nav>li>a.add-link {
    color: red;
}

.container {
    width: 740px;
}

.postwrapper {
    background-color: #f3f3f3;
    border: 1px dotted #bbb;
    font-family: 'Monaco', 'Liberation Mono', 'Droid Sans Mono', 'Ubuntu Mono', 'Lucida Console', 'Helvetica Neue', monospace;
    margin: 10px 10px;
    border-radius: 3px;
}

.postrow {
    padding: 5px 15px;
}


.post-tools {
    border-top: 1px dotted #bbbbbb;
    padding: 0px 20px;
    color: rgb(178, 178, 178);
}

.post-tools a{
    color: #6565FB;
}

.more-link {
    float: right;
}


/*
USER PROFILE
*/
.user-top {
    padding: 0px 10px;
}

.user-info {
    margin-top: 0px;
}

/*
REGISTER PAGE
*/

.register-field {
    padding-bottom: 15px;
}

.error {
    color: red;
}

.error-register {
    margin-top: -10px;
}

.navbar-default {
    background-color: inherit;
    border-bottom: 2px dotted #C5C5C5;
}

body {
    background: #1EA0F7;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}


.navbar-default .navbar-brand {
    color: #FFF;
    font-family: 'Bad Script', cursive;
    font-size: 25px;
    font-weight: bold;
    top: 5px;
    position: relative;
}


.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #FFD500;
    background-color: transparent;
}