.add-form {
    max-width: 600px;
    margin: 0 auto;
}

.navbar-default .navbar-nav>li>a.add-link {
    color: red;
}

.container {
    width: 740px;
}

/*
EDIT
*/

.editForm {
    padding-bottom: 20px;
}

.editabout {
    margin-bottom: 18px;
}

.anonymousField {
    font-size: 22px;
}
/* 
POST 
*/

.postwrapper {
    background-color: #f3f3f3;
    border: 1px dotted #5CB85C;
    font-family: 'Monaco', 'Liberation Mono', 'Droid Sans Mono', 'Ubuntu Mono', 'Lucida Console', 'Helvetica Neue', monospace;
    margin: 10px 10px;
    border-radius: 3px;
}

.postrow {
    padding: 5px 15px;
}


.post-tools {
    border-top: 1px dotted #bbbbbb;
    padding: 0px 20px;
    color: rgb(178, 178, 178);
}

.post-tools a{
    color: #6565FB;
}

.bottom-post-right{
    float: right;
    color: #5CB85C;
}

.user-post, .time-post {
    font-size: 13px;
    border-left: 1px dotted #bbbbbb;
    padding-left: 8px;
}

.user-post a{
    color: #5CB85C;
    text-decoration: underline;
}

.time-post {
    margin-right: -10px;
} 
/*
HEADER
*/
.navbar-default .navbar-nav>li>a {
    font-size: 16px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #FF9611;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
}

.mydiary {
    background-color: #FF9611;
}

/*
USER PROFILE
*/
.user-top {
    padding: 0px 10px;
}

.user-info {
    margin-top: 0px;
}

/*
PAGINATION
*/

.pagination {
    color: red;
}

.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus {
    background-color: #FF9611;
    border-color: #FF9611;
}

/*
REGISTER PAGE
*/

.register-field {
    padding-bottom: 15px;
}

.error {
    color: red;
}

.error-register {
    margin-top: -10px;
}

.navbar-default {
    background-color: #1EA0F7;
    border-bottom: 1px dotted #FFF;
}

body {
/*    background: #1EA0F7; */
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}


.navbar-default .navbar-brand {
    color: #FFF;
    font-family: 'Bad Script', cursive;
    font-size: 25px;
    font-weight: bold;
    top: 5px;
    position: relative;
}


.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #FFD500;
    background-color: transparent;
}


.h2-topic {
    color: rgb(74, 70, 70);
}

.bottom-post-left {
    margin-left: -20px;
}

.vote {
    background-color: #5cb85c;
    padding: .2em .6em .2em;
    line-height: 1;
    color: #fff;
    vertical-align: baseline;
    border-radius: .25em;
}