{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Уууууупс</h1>
        <div>Произошла ошибка. Но наши лучшие люди, отобранные из наших лучших людей работают над этим.</div>
        <div>Если вы уже не первый раз видите эту ошибку, то можете поругать нас и получить персональные извинения, если <a href="mailto:support@flyingcarrot.ru">напишите нам</a>.</div>
        <p><a href="{{ url_for('index') }}">На главную</a></p>
    </div>
</div>
{% endblock %}