{% extends "base.html" %}

{% block content %}
<div class="add-form">
    <h2>Расскажите немного о вашем сне</h2>
    <form clas action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.description(class='form-control input-lg', rows=12) }}
        <span class="help-block">Постарайтесь описать основной сюжет сна как можно подробней. Если хотите почитать
        рекомендации о том, как лучше запоминать сны, то смотрите <a href="#">тут</a>.</span>
        <label class="datasleep" for="datasleep">Когда он приснился?</label>
        {{ form.datesleep(class='form-control datepicker') }}

        <div class="row">
            <div class="col-md-6">
                <div class="checkbox">
                    <label>
                        {{ form.anonymously() }} Опубликовать анонимно
                    
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="checkbox">
                    <label>
                        {{ form.yourself() }} Опубликовать только для себя
                    </label>
                </div>    
            </div>
        </div>
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Отправить">
    </form>
</div>
{% endblock %}