<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Админка</title>
    <link rel="stylesheet" type="text/css" href="http://yastatic.net/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_style.css') }}">
</head>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Добавить статью:</h2>
            <form method="POST" name="add-article" role="form" action="{{ url_for('admin_add_article') }}" class="form-horizontal">
                <div class="form-group">
                    {{ formArticle.hidden_tag() }}
                </div>
                <div class="form-group">
                    <label>Заголовок</label>
                    {{ formArticle.title(class="form-control") }}
                </div>
                <div class="form-group">
                    <label>Текст статьи</label>
                    {{ formArticle.text(class="form-control", rows="16") }}
                </div>
                <div class="form-group">
                    <label>Категория</label>
                    {{ formArticle.category(class="form-control") }}
                </div>
                <input class="btn btn-success btn-lg btn-block" type="submit" value="Добавить">

            </form>
                
        </div>
        <div class="col-md-4">
            <h2>Добавить категорию:</h2>
            <form method="POST" class="form-horizontal add-category" name="add-category" role="form"  action="{{ url_for('admin_add_category') }}">
                {{ formCategory.hidden_tag() }}
                <div class="form-group">
                    {{ formCategory.name(class="form-control") }}
                </div>
                <input class="btn btn-success btn-block" type="submit" value="Добавить">
            </form>  
        </div>
    </div>
</div>


    
</body>
</html>