{% extends "base.html" %}
{% block content %}

    <div class="row content">
        <div class="col-md-8">
            <h1>{{ article.title }}</h1>
            <div>
                {{ article.content | safe}}
            </div>
        </div>
         <div class="col-md-4 right-block">
            <h3>Новые статьи</h3>
            {% for article in all %}
                <a href="{{ url_for('article', title=article.url)}}">{{ article.title }}<br>
            {% endfor %}
         </div>
    </div>

{% endblock %}