{% extends "base.html" %}

{% block content %}
<form method="POST" name="edit" class="form-horizontal" role="form">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-md-6">
            <div class="input-group editForm">
                <span class="input-group-addon"><i class="fa fa-male fa-fw fa-lg"></i></span>
                {{ form.first_name(class='form-control input-lg', placeholder="Фамилия") }}
            </div>
            <div class="input-group editForm">
                <span class="input-group-addon"><i class="fa fa-user fa-fw fa-lg"></i></span>
                {{ form.last_name(class='form-control input-lg', placeholder="Имя") }}
            </div>
            <div class="input-group editForm">
                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw fa-lg"></i></span>
                {{ form.email(class='form-control input-lg') }}
            </div>
            <div class="checkbox checkbox-primary">
                   {{ form.anonymous() }}
                <label for="anonymous">
                    Это личный дневник
                </label>
            </div>
        </div>

        <div class="col-md-6">
            {{ form.about_me(cols=32, rows=4, class='form-control input-lg editabout', placeholder="О себе") }}
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key fa-fw fa-lg"></i></span>
                    {{ form.password(class='form-control input-lg', placeholder="Пароль") }}
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4">
        <input class="btn btn-primary" value="Сохранить" type="submit">
        <input class="btn btn-default" value="Сбросить" type="reset">
    </div>
</div>
</form>
{% endblock %}