<div class="postwrapper">
    <div class="postrow">
        {% if post.author == g.user %}
            <div class="edit-dream"><a href="{{ url_for('edit_dream', num=post.id) }}"><i class="fa fa-pencil-square-o"></i></a></div>
        {% endif %}
        <div class="">{{ post.description | truncate(600, end='...') }}
        {% if post.description | length > 600  %}
            <a href="{{ url_for('dream', num=post.id) }}">прочесть дальше</a>
        {% endif %}
        </div><br>
        <div class="more-dream btn btn-primary btn-xs"><a href="{{ url_for('dream', num=post.id) }}">Полностью</a></div>
    </div>
    <div class="post-tools">
            <span class="bottom-post-left">
                <span class="vote">{{ post.voted() }}</span>
                {% if not post.is_voted(current_user) %}<span class="plus"><a href="{{url_for('voteup', num=post.id)}}"><i class="fa fa-plus-square"></i></a></span> {% endif %}
                {% if post.is_voted(current_user) %}<span class="minus"><a href="{{url_for('votedown', num=post.id)}}"><i class="fa fa-minus-square"></i></a></span> {% endif %}
            </span>
            <span class="bottom-post-right">
                <span class="user-post"> <i class="fa fa-smile-o fa-lg"></i> 
                    {% if post.author.nickname %}
                        <a href="{{ url_for('user', nickname=post.author.nickname) }}"> {{ post.author.nickname }}</a></span>
                    {% else %}
                        Аноним
                    {% endif %}

                <span class="time-post"><i class="fa fa-clock-o fa-lg"></i> {{ momentjs(post.timestamp).calendar() }}</span>
            </span>
    </div>
</div>