{% extends "base.html" %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="input-group register-field">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw fa-lg"></i></span>
            {{ form.email(class="form-control input-lg", placeholder="E-mail") }}
           
        </div>
        <div class="input-group register-field">
            <span class="input-group-addon"><i class="fa fa-key fa-fw fa-lg"></i></span>
            {{ form.password(class="form-control input-lg", placeholder="Пароль") }}
        </div>
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Зарегистрироваться">
    </form>
</div>

{% endblock %}
