{% extends "base.html" %}

{% block content %}
    <div class="user-top">
        <div class="row">
            <div class="col-md-6">
                <h2 class="user-info">{{ user.nickname }}</h2>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            </div>
            <div class="col-md-6">
                {% if user.last_seen %}<p>Заходил: {{ momentjs(user.last_seen).calendar() }}</p>{% endif %}
                <p>{{ user.followers.count() }} подписчиков |
                {% if user.id == g.user.id%}
                    <a href="{{ url_for('edit') }}">Редактировать профиль</a>
                {% elif not g.user.is_following(user) %}
                    <a href="{{ url_for('follow', nickname=user.nickname) }}">Подписаться</a>
                {% else %}
                    <a href="{{ url_for('unfollow', nickname=user.nickname) }}">Отписаться</a>
                {% endif%}
            </div>
        </div>
    </div>
    {% for post in posts.items %}
        {% include "post.html" %}
    {% endfor %}
    <div class="text-center">
        <nav>
          <ul class="pagination">
            {% if posts.has_prev %}
                <li>
                    <a href="{{ url_for('user', page=posts.prev_num, nickname=user.nickname) }}" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa fa-lg fa-arrow-left"></i></span>
                    </a>
                </li>
            {% endif %}
            {%- for page in posts.iter_pages() %}
                {% if page %}
                    {% if page != posts.page %}
                        <li><a href="{{ url_for('user', page=page, nickname=user.nickname) }}">{{ page }}</a></li>
                    {% else %}
                        <li class="active"><a href="#">{{ page }}</a></li>
                    {% endif %}
                {% else %}
                    <span class=ellipsis>…</span>
                {% endif %}
            {%- endfor %}
            {% if posts.has_next %}
                <li>
                    <a href="{{ url_for('user', page=posts.next_num, nickname=user.nickname) }}" aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-lg fa-arrow-right"></i></span>
                    </a>
                </li>
            {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}